@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 220 9% 26%;
    --card: 0 0% 100%;
    --card-foreground: 220 9% 26%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 9% 26%;
    --primary: 207 82% 68%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 14% 91%;
    --secondary-foreground: 220 9% 26%;
    --muted: 220 14% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 36 100% 65%;
    --accent-foreground: 40 10% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 207 82% 68%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --sidebar-background: 220 10% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 82% 68%;
    --sidebar-primary-foreground: 220 9% 26%;
    --sidebar-accent: 220 10% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 10% 20%;
    --sidebar-ring: 207 82% 68%;
  }

  .dark {
    --background: 220 10% 10%;
    --foreground: 210 40% 98%;
    --card: 220 10% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 220 10% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 82% 68%;
    --primary-foreground: 220 9% 26%;
    --secondary: 220 10% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 10% 20%;
    --muted-foreground: 220 9% 55%;
    --accent: 36 100% 65%;
    --accent-foreground: 40 10% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 20%;
    --input: 220 10% 20%;
    --ring: 207 82% 68%;
    
    --sidebar-background: 220 10% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 82% 68%;
    --sidebar-primary-foreground: 220 9% 26%;
    --sidebar-accent: 220 10% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 10% 18%;
    --sidebar-ring: 207 82% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
